<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<hr>
    <h2>Create New Product:</h2>
    <form action='/insert' method='POST'>
        Product Title: <input type='text' name='title' id='title'>
        <br> <br>

        Product description: <input type='text' name='desc' id='desc'>
        <br> <br>
        Product Units: <input type='text' name='units' id='units'>
        <br> <br>
        Product Price: <input type='text' name='price' id='price'>
        <br> <br>

        <input type='submit' value='insert'>
    </form>
    <hr>
</body>
</html>