<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<style>
  button {
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px -1px;
    width: 25%;

  }
</style>

<body>
  <h1>Logged In as : {{ email }}</h1>
  <a href="/new"><button> Insert Donor </button></a>
  <br>
  <a href="/search"><button> Search Donor </button></a>

  <br><br><br><br>
  <a href="/sign-out"><button> Sign out </button></a>


</body>

</html>